body {
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
}
h3 {
    font-size: smaller;
}
h4 {
    font-size: larger;
}
h5 {
    font-size: medium;
}

.jumbotron {
    background-color: white;
}

.btn-primary {
    background-color: #FFB900;
    border-color: #FFB900;
}
.btn-primary:hover {
    background-color: #FF7000;
    border-color: #FF7000;
}
.btn-primary:focus {
    background-color: #FFB900;
    border-color: #FFB900;
}
.btn-link {
    color: #FFB900;
}

.headerDivider {
    border-left:1px solid #eeeeee; 
    border-right:1px solid #0F5F68; 
    height:50%;
    position:absolute;
    right:249px;
    top:10px; 
}

.fa-calendar, .fa-calendar-day, .fa-calendar-week, .fa-clock {
    color: #e0e0e0
}

.img-profile {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}