<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Test</title>
</head>
<body>
    <div class="container">
        <div id="app">
        

        
        
        <h2 class="text-center">Fag</h2>
        

        
        <table class="table">
            
                <th>Fag</th>
                <th>Mødestabil</th>
            <tbody id="result1">
                <tr v-for="subject in subjects">
                    <td>{{subject.id}}</td>
                    <td>{{subject.subjectName}}</td>
                    <td>{{subject.subjectMeetTime}}</td>
                </tr>
            </tbody>
            
            
           
        </table>
  
        <button id="enterbut" class="btn btn-primary float-right" v-on:click="getAllSubjects()">Updater Table</button>
        <h4 style="color: red;">{{messageError}}</h4>
        <p>Tilføj:</p>

        <form method="POST" v-on:submit.prevent="onSubmit">
          
            <input id="nameForAdd" v-model.lazy="addData.subjectName" placeholder="Indsæt navn på fag"/>
            <input id="subjectMeetTime" type="datetime-local" v-model="addData.subjectMeetTime" placeholder="Indsæt mødetid"/>
           
            <button id="addButton" class="btn btn-primary" v-on:click="addSubject()">Tilføj</button>
            
        </form>
        
        <p>Delete</p>
        <input id="idInputDelete" v-model.number="subjects.id" placeholder="indsæt et id"/>
            <button id="deleteButton" class="btn btn-primary" v-on:click="DeleteSubject(subjects.id)">Delete</button>

        <p>Update</p>
        <form method="POST" v-on:submit.prevent="onSubmit">
            <input id="idToBeUpdated" v-model.number="updateData.id">
            <input id="subjectNameToBeUpdated" v-model="updateData.subjectName" placeholder="indsæt et navn"/>
            <input id="dateTimeToBeUpdated" type="datetime-local" v-model="updateData.subjectMeetTime" placeholder="indsæt mødetid"/>
            
            <button id="updateButton" class="btn btn-primary" v-on:click="updateSubject()">Updater</button>
        </form>
        </div>
    </div>


    <script src="./main2.js"></script>
    
</body>
</html>